* {
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    margin-bottom: 10%;
}

h1 {
    color: #fff;
    font-size: 3rem;
    position: absolute;
}

.legend-header {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    border-radius: 25px;
    text-align: center;
    padding: 5px 2px;
}

.legend,
.select-opt {
    border: 2px solid #fff;
    border-radius: 25px;
    background-color: #000;
}

.select-opt:hover {
    border-radius: 25px;
}

.legend {
    width: 20%;
    left: 70%;
    position: absolute;
    z-index: 1;
    color: #fff;
}

#container {
    background-image: url('/img/bodies.png');
    background-size: contain;
    width: 100%;
    height: 700px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 25% 20%;
}

#container :nth-child(1) {
    top: 7%;
}

#container :nth-child(3) {
    top: 60%;
}

li {
    text-decoration: none;
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

li:hover {
    background-color: #fff;
    color: #000000;
    font-weight: 800;
}

.select-opt {
    width: 90%;
    margin-left: 5%;
    position: absolute;
    z-index: 2;
    top: 0% !important;
    display: flex;
    flex-wrap: wrap;
}

.select-opt li:first-child:hover {
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.select-opt li:last-child:hover {
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}


.select-opt :first-child {
    border-right: 2px solid #fff;
}

#opt-year :nth-child(3) {
    border-left: 2px solid #fff;
}

.select-opt li {
    text-align: center;
    padding: 3%;
}

#opt-disease {
    padding: 0 0 5% 0;
}

#opt-disease::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 5rem;
    /* Also needed for space (tweak if needed) */
}



#opt-region {
    padding: 5% 0 10% 0;
}

#opt-gender {
    top: 5% !important;
}

#opt-gender li {
    width: 50%;
}

#opt-year {
    top: 92% !important;
}

#opt-year li {
    width: 33.33%;
}

.mult-opt li {
    padding: 10px 50px;
}

#slider-container {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 70%;
    display: flex;
}

#slider {
    width: 80%;
    border: none;
    border-radius: 0px;
    height: 1px;
    margin-top: 2%;
}

#slider span {
    border-radius: 50px;
    margin-top: -2%;
}

#slider-container p {
    width: 10%;
    text-align: center;
    color: #fff;
}

#amount p {
    width: 100%;
    position: absolute;
    z-index: 5;
    margin-top: 10%;
    color: #fff;
}